*{
	padding: 0;
	margin:0;
}
.wrap{
	width: 100%;
	background-color: #fff;
	padding: 0 50px 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing:border-box;
	-o-box-sizing: border-box;
}
.tudo{

}
header{
	top: 0;
	width: 100%;
	height: 200px;
}
header img{
	margin: 45px 0 5px 5px;
	width: 300px;
	-o-transform: rotate(-20deg);
	-ms-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg); 
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
header ul{
	float: right;
	margin: 45px 50px 0 0;
}
header ul li{
	margin: 0 0 0 20px;
	list-style: none;
	display: inline-block;
}
header ul li a{
	text-decoration: none;
	font-size: 1.5em;
}
.corpo{
	margin: 1em 0 0 0;
	width: 100%;
	height: auto;
	background-image: url(../img/bg_página_4.png);
	background-repeat: no-repeat;
}
.corpo .pc{
	margin: 2.9em 0 0 19em;
}
.corpo .mobi{
	display: none;
}
fieldset{
	border: 0;
}
.pesquisar{
	width: 100%;
	height: auto;
	text-align: center;
	padding: 0 0 0 285px;
}
.formulario_pesquisa{
	width: 600px;
	position: relative;
}
input[type="text"] {
	width: 400px;
	border: 1px solid #2ebbd1;
	background-color: #0fa9f0;
	color: #fff;
	padding: 6px 15px 6px 35px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	border-radius:20px;
	z-index: 90;

}
.pesquisa_icon{
	background:url(../img/pesquisar.png) no-repeat;
    width:19px;
    height:19px; 
    border:0;
    z-index:100;
    top: 5px;
    left: 500px;
    cursor:pointer;
    text-indent:-999999px;
    overflow:hidden;
    position: absolute;
}

footer{
	background-color: #6d6e71;
	width: 100%;
	height: 30px;
	text-align: center;

}

