*{
	padding: 0;
	margin:0;
}
.wrap{
	width: 100%;
	background-color: #fff;
	padding: 0 50px 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.tudo{

}
header{
	width: 100%;
	height: 200px;
	background-color: red;
}
header img{
	margin: 5px;
	width: 300px;
}
header ul{
	float: right;
	margin: 0 50px 0 0;
}
header ul li{
	margin: 0 0 0 20px;
	list-style: none;
	display: inline-block;
}
header ul li a{
	text-decoration: none;
	font-size: 2em;
}