*{
	padding: 0;
	margin:0;
}
.wrap{
	width: 100%;
	background-color: #fff;
}
.tudo{

}
header{

}
header img{

}
header ul{
	display: inline-block;
}
header ul li{
	list-style: none;
}
header ul li a{
	text-decoration: none;
}