*{
	padding: 0;
	margin:0;
}
.wrap{
	width: 100%;
	background-color: #fff;
	padding: 0 50px 0 50px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.tudo{

}
header{

}
header img{

}
header ul{
	display: inline-block;
	float: right;
}
header ul li{
	list-style: none;
}
header ul li a{
	text-decoration: none;
	font-size: 2em;
}