<!doctype html>
<html lang="pt" ng-app="myApp">
<head>
	<title>Taxista</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
	<link rel="icon" href="img/favicon.ico" type="image/x-icon">
   <script src="js/lib/angular.min.js"></script>
  <script src="js/controlador.js"></script>
	<meta charset="utf-8">
</head>
<body>
	<div class="wrap">
		<div class="tudo">
			<header> 

				<img src="img/logo_nav.png">
				<ul>
					<li><a href="#">INÍCIO</a></li>
					<li><a href="#">AJUDA</a></li>
					<li><a href="#">CONTACTOS</a></li>
				</ul> 
			</header>
			<section class="corpo">
				<img class="pc" src="img/hiace_body.png">
				<img class="mobi" src="img/hiace_body_responsive.png">
				<section class="conteudo" ng-controller = "meuControlador">
					<div class="pesquisar">
						 <form class="formulario_pesquisa">
                			<fieldset>	
                        		<input type="text" placeholder="Pesquisar"  ng-model="query" autofocus />
                    			<input type="submit" class="pesquisa_icon"/>
                			</fieldset>
            			</form>
            			<a href="#">Lista de Taxistas</a>
					</div>
					<div class="conteudo_da_pesquisa">
						<div class="controlo_da_pesq">
								<table>
     								 <tr>
       	 								<th>Nome</th>
        								<th>Disponibilidade</th>
       									<th>Número</th>
       									<th>Matrícula</th>
       									<th>Via</th>
      								</tr>
      								 <tr ng-repeat="item in taxistas | filter: query ">
       	 								<td>{{item.nome}}</td>
        								<td>{{item.dispo}}</td>
       									<td>{{item.numero}}</td>
       									<td>{{item.matricula}}</td>
       									<td>{{item.via}}</td>
      								</tr>

							</table>
						</div>
						<span class="seta_anterior"></span>
						<span class="seta_proximo"></span>
					</div>
				</section>
				
			</section>	
			<footer>
					<span>Copyright © - 2014 - 8897 creative studio - Todos direitos reservados</span>
			</footer>
		</div>
	</div>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>